{% extends 'base.html' %}
{% block content %}


<h3> {{ drug.brand_name }}</h3> 
<h5> Manufacturered by: {{ drug.manufacturer_name }} </h5>


<div id="side_effects" style="width:100%; height:400px;"></div>

<p>Average rating: {{ avg_score }}</p>


{% if "user_id" in session %}
	<h4></h4>
	{% if user_rating %}
	    <p>Your current rating for this drug is {{ user_rating.score }}.</p>
	{% endif %}


<h4> Comments for this drug: </h4>
		
{% for comment_tuple in comments: %}
	
	<br> {{ comment_tuple[0] }} <br>
    
	{% endfor %}


		<form action="/add_drug_feedback" method="POST">
			<div class="row drug-score">
				<fieldset class="rating">
				    <legend>Please rate:</legend>
				    <input type="radio" id="star5" name="score" value="5" /><label for="star5" title="Rocks!">5 stars</label>
				    <input type="radio" id="star4" name="score" value="4" /><label for="star4" title="Pretty good">4 stars</label>
				    <input type="radio" id="star3" name="score" value="3" /><label for="star3" title="Meh">3 stars</label>
				    <input type="radio" id="star2" name="score" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
				    <input type="radio" id="star1" name="score" value="1" /><label for="star1" title="Sucks big time">1 star</label>
				</fieldset>
			</div>

			<br>


			<div class="row drug-comment">
			  <label><h4>Comments:</h4>
			      <input type="text" name="comment" height="900px" size="50%"> 
			  </label>
			  <br>
			</div>
<br>
<br>

			
			<div class="row drug-rating">
			<h4>Side Effects:</h4>
				<div class="col-md-3"> <h4> Pain </h4>
				<input type="checkbox" name="side_effect" value="headache"> Headache <br>
				<input type="checkbox" name="side_effect" value="stomach_pain"> Stomach Pain <br>
				<input type="checkbox" name="side_effect" value="body_aches"> Body Aches or Cramps <br>
				</div>
				<div class="col-md-3">  <h4> Tummy </h4> 
				<input type="checkbox" name="side_effect" value="diarrhea"> Diarrhea <br>
				<input type="checkbox" name="side_effect" value="constipation"> Constipation <br>
				<input type="checkbox" name="side_effect" value="vomiting_nausea"> Nausea or Vomiting <br>
				</div>
				<div class="col-md-3">  <h4> Feeling </h4>
				<input type="checkbox" name="side_effect" value="irritable"> Irritable<br>
				<input type="checkbox" name="side_effect" value="moodiness"> Moodiness <br>
				<input type="checkbox" name="side_effect" value="drowsiness"> Drowsiness <br>
				<input type="checkbox" name="side_effect" value="disorientation"> Disorientation <br>
				</div>
				<div class="col-md-3"> <h4> Full Body </h4>
				<input type="checkbox" name="side_effect" value="bloating_swelling"> Bloating or Swelling <br>
				<input type="checkbox" name="side_effect" value="skin_reactions"> Skin Reactions <br>
				<input type="checkbox" name="side_effect" value="chills_sweating"> Chills or Sweating <br>
				<input type="checkbox" name="side_effect" value="dizziness"> Dizziness <br>
				<input type="checkbox" name="side_effect" value="weight_gain"> Weight Gain <br>
				<input type="checkbox" name="side_effect" value="weight_loss"> Weight Loss <br>
				</div>
			</div>	
			<br>
		
			<input type="submit" value="Submit your Drug Feedback">

		</form>
{% endif %}

<br>
<br>


<div class="row drug-info">
	<div class="col-xs-6">
		<h5> Manufacturered By: {{ drug.manufacturer_name  }} </h5>
		<h5> National Drug Code: {{ drug.product_ndc }} </h5>
		<h5> Generic Drug Name: {{ drug.generic_name }} </h5>
		<h5> Brand Name: {{ drug.brand_name }} </h5>
	</div>
	<div class-"col-xs-6">
		<h5> Chemical Name: {{ drug.substance_name }} </h5>
		<h5> Indicated Route: {{ drug.route }} </h5>
		<h5> Type of Product: {{ drug.product_type }} </h5>
	</div>
</div>

<br><br>

<div class="row drug-spl"><h5> Drug Description : {{ drug.description }} </h5></div><br>
<br>

<div class="row drug-spl"><h5> How drug is supplied by Manufacturer: {{ drug.how_supplied| truncate(1000)  }} </h5></div><br>
<br>

<div class="row drug-spl"><h5> Dosage and Administration: {{ drug.dosage_and_administration| truncate(1000)  }} </h5></div><br>
<br>

<div class="row drug-spl"><h5> Indications and Usage for this drug : {{ drug.indications_and_usage| truncate(1000)  }} </h5></div><br>
<br>

<div class="row drug-spl"><h5> Reported Reactions: {{ drug.adverse_reactions| truncate(1000) }} </h5></div><br>
<br>



<script>

    var side_effect_list = {{ side_effect_list|tojson|safe }};
    // categories = JSON.parse(categories)
    // console.log(categories)

	console.log(side_effect_list)

$('#side_effects').highcharts({
        chart: {
            type: 'column',
            style: {
                'font-family': "'Raleway', sans-serif",
                'font-size' : "12px"
            },
            backgroundColor:'rgba(255, 255, 255, 0.1)',
        },
        colors: {
    	radialGradient: { cx: 0.5, cy: 0.5, r: 0.5 },
    	stops: [
       [0, '#003399'],
       [1, '#3366AA']
    	]
		},
        title: {
            text: 'Side Effects for {{ drug.brand_name }}'
        },
        xAxis: {
            categories: side_effect_list 
        },
        tooltip: {
            valueDecimals: 0,
            pointFormat: "{point.y} people experienced this"
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            data: {{ user_side_effects }}
        }]
    });

</script>





{% endblock %}